*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

section{
    padding:60px 10%;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background: linear-gradient(to right, #1e293b, #0f172a);
}

.hero h1{
    font-size:50px;
}

.hero h2{
    margin:20px 0;
    color:#38bdf8;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:5px;
    margin-top:20px;
    transition:0.3s;
}

.btn:hover{
    background:#0ea5e9;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:30px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    background:#334155;
}

.exp-box{
    margin-top:30px;
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

.project-box{
    margin-top:20px;
}

footer{
    text-align:center;
    padding:20px;
    background:#1e293b;
}
